@model WebAspNetIdentity.Controllers.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h1>Forgot Password</h1>
<hr />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <p>Username: @Html.TextBoxFor(h => h.Username) </p>
    <input value="Submit" type="submit" class="btn" />
}

