@model WebAspNetIdentity.Controllers.PasswordResetViewModel

@{
    ViewBag.Title = "PasswordReset";
}

<h1>Password Reset</h1>
<hr />
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
{
    @Html.HiddenFor(h => h.UserId)
    @Html.HiddenFor(h => h.Token)

    <p>New Password: @Html.PasswordFor(h => h.Password)</p>
    <input value="Submit" type="submit" class="btn" />
}




